/* 
  The designs were created to the following widths:

  - Mobile: 375px
  - Desktop: 1440px


  ### Body Copy

  - Font size (paragraph): 18px
*/

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

body {
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: var(--almost-white);
  font-weight: 500;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

a, p, h1, h2, h3 {
  text-decoration: none;
  color: var(--almost-black);
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

.mt-1 {
  margin-top: 8px;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  gap: 8px;
  text-align: center;
}

@media (min-width: 400px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  h1 {
    gap: 0.8rem;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 65px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 75px;
  }
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

/* Pagina */
.header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .header-left img {
  margin-top: 1rem;
} */

@media (min-width: 1024px) {
  .header-left {
    position: relative;
    top: 10px;
  }
}

/* Menu */

.menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}

/*! Dropdown menu  */

.drop-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  margin-top: 1.2rem;
}

.drop-down li {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.features li img {
  margin: 0 0.5rem 0 0;
  padding: 0;
  width: fit-content;
}

@media (min-width: 992px) {
  .drop-down {
    gap: 1rem;
    position: absolute;
    background-color: white;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 15px
  }

  .drop-down li {
    margin: 0;
  }
  
  .is-company {
    top: 5rem;
    left: 14.6rem;
  }

  .features {
    top: 5rem;
    left: 3rem;
  }
}

.header-right {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  padding: 1.5rem;
  width: 50%;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  position: absolute;
  border: 2px solid var(--almost-white);
  border-radius: 1rem;
  box-shadow: 5px 5px 8px var(--almost-black);
  transition: all 500ms ease-in-out;
  justify-content: center;
  gap: 2rem;
}


@media (min-width: 992px) {
  .header-right {
    position: unset;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    height: unset;
    background-color: var(--almost-white);
    width: 100%;
    border:  unset;
    border-radius: unset;
    box-shadow: unset;
    transition: unset;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: baseline;
  justify-content: center;
}

@media (min-width: 1024px) {
  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .nav-bar li {
    display: flex;
    gap: 0.3rem;
  }

  .nav-bar img {
    width: 100%;
    height: fit-content;
    margin-top: 6px;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
}

.btn-header {
  margin: 0;
  padding: 0.75rem 3rem;
  font-size: 18px;
  font-weight: 500;
  color: var(--almost-black);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: unset;
  background-color: white;
}

@media (min-width: 992px) {
  .btn-header {
    background-color: var(--almost-white);
  }
}

.btn-header:hover {
  border: 1px solid var(--almost-black);
  border-radius: 1rem;
}

.article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  /* text-align: center; */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0;
  align-items: center;
  padding: 0.5rem;
}

.content-text {
  width: 100%;
  color: var(--medium-gray);
  line-height: 1.7rem;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .content-text {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .content {
    align-items: baseline;
    gap: 2.5rem;
  }
  .content-text {
    width: 90%;
    text-align: left;
  }

  .article {
    flex-direction: row;
    gap: 1rem;
    margin-top: unset;
    /* text-align: left; */
  } 
}

@media (min-width: 1440px) {
  .article {
    gap: 8rem;
  }
}

@media (min-width: 2000px) {
  .content-text {
    width: 75%;
  }
}

.content-img {
  width: 100%;
  height: 20rem;
  background-image: url(./assets/images/image-hero-mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .content-img {
    height: 40rem;  
  }
}

@media (min-width: 1024px) {
  .column { 
    flex: 1 1.064 auto;    
  }

  .content-img {
    height: 37rem;
    background-image: url(./assets/images/image-hero-desktop.png);
    background-position: top right;
    margin-bottom: unset;
  }
}

@media (min-width: 1440px) {
  .content-img {
    height: 44rem;
  }
}

@media (min-width: 2000px) {
  .column {
    flex: 1 5 auto;
  }
  .content-img {
    height: 50rem;
    background-position: center;
    background-size: 65%;
  }
}


.flex-icons {
  align-self: flex-end;
}


.content-icons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
/* 
.content-icons img {
  width: fit-content;
  height: fit-content;
} */

@media (min-width: 300px) and (max-width: 480px) {
  .content-icons img {
    width: 5rem;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .content-icons {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn-main {
  padding: 1rem;
  color: var(--almost-white);
  background-color: var(--almost-black);
  border: 1px solid;
  border-radius: 1rem;
  width: 40%;
  margin-bottom: 5rem;
}
/*//TODO! Ajustar para tablet y cel */

@media (min-width: 1024px) {
  .buttons {
    flex-direction: row;
  }
  .btn-main {
    width: 37%;
    margin-bottom: 5rem;
  }
}

@media (min-width: 2000px) {
  .btn-main {
    margin-bottom: 10rem;
  }
}